<div>
  <div>search data</div>
  <div>总价:</div>
  <div style="color: red;" ng-bind="$ctrl.summaryBudget"></div>
  <div>
    <div>开始时间</div>
    年<input name="start-year" value="" ng-model="$ctrl.date.startDate.year">
    月<input name="start-month" value="" ng-model="$ctrl.date.startDate.month">
    日<input name="start-day" value="" ng-model="$ctrl.date.startDate.day">
    <div>结束时间</div>
    年<input name="end-year" value="" ng-model="$ctrl.date.endDate.year">
    月<input name="end-month" value="" ng-model="$ctrl.date.endDate.month">
    日<input name="end-day" value="" ng-model="$ctrl.date.endDate.day">
    <div style="width: 300px; margin: 10px 0;"
         class="btn btn-lg btn-primary btn-block"
         ng-click="$ctrl.getData()">Submit
    </div>
  </div>
</div>
